.root {
    padding: 2rem;
    border-radius: 20px;
    background: lightgreen;
    margin: 0 1em;
}

.title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 14pt;
    font-weight: bold;
}

.description {
    font-size: 12pt;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 15px;
}
